<% provide(:title, 'Home') %>

<% if signed_in? %>
  <div class="row">
    <div class="span1">
     </div>
      <div class="span3 offset1 side-menu">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
       
        <%= render 'shared/user_menu' %>
      </section>
      </div>

    <div class="span7 feed_of_posts">
      
      <h2>Your meetings</h2>
      <%= render 'posts/feed' %>
    </div>
     <div class="span2">
     </div>
  </div>  



<% else %>
            
 <div class="center hero-unit">
  <h1>Welcome to FREETIMEler!</h1>
  <h1>We are opening soon!</h1>

  

  <%#= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
 </div>


<% end %> 