<% provide(:title, 'Home') %>
<h1>Sample App</h1>

  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/user_menu' %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Your recipies</h3>
      <%= render 'posts/news' %>
    </div>
  </div>  

