    <ul class="nav nav-list user_menu">
    <li class="nav-header", style="font-size:120%">Menu</li>
    <li><%= link_to "My Profile", current_user %></li>
    <li><%= link_to "Create Meeting", new_event_path %></li>
    <li><%= link_to "News", news_path %></li>
    <li><a href="#">My Mailbox</a></li>
    </ul>

